#home {
  section {
    display: grid;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr !important;
      text-align: center !important;

      img {
        border-radius: 10px !important;
      }
    }

    .text {
      padding: 50px;
    }

    .grid-container {
      display: grid;
      gap: 20px;

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr !important;
      }

      .grid-item {
        border-radius: 10px;
        box-shadow: inset 0 0 20px $black;
        padding: 50px 20px;
      }
    }
  }

  #hero,
  #tarifs-et-forfaits {
    grid-template-columns: 60% 40%;

    img {
      border-radius: 0 10px 10px 0;
    }
  }

  #reservation,
  #nos-vehicules,
  #actualites-et-blog {
    grid-template-columns: 40% 60%;

    img {
      border-radius: 10px 0 0 10px;
    }
  }

  #services,
  #a-propos,
  #zones,
  #temoignages,
  #faq {
    grid-template-columns: 1fr;
  }
}
